<div>
  <div class="nav-bar">
    <div class="nav-bar-top">
      <img class="logo" src="../../../../assets/images/logo.png" alt="logo">
      <div class="profile" [matMenuTriggerFor]="menu">
        <div class="profile-image">SB</div>
        <div class="profile-name">Suryanshu Bedi
          <img class="arrow-1" src="../../../../assets/icons/down-arrow.png" alt="">
        </div>
      </div>
      <mat-menu #menu="matMenu" style="background-color: #2e3d54 !important;">
        <button mat-menu-item style="background-color: #2e3d54 !important; color: rgb(255, 255, 255,0.6);">Change Password</button>
        <button mat-menu-item style="background-color: #2e3d54 !important;color: rgb(255, 255, 255,0.6);">Signout</button>
      </mat-menu>
    </div>
    <div class="nav-bar-bottom">
      <a class="item"routerLinkActive="active" style="text-decoration: none;" routerLink="home">
        <img class="icons" src="../../../../assets/icons/file-icon.png" alt="course">
        <div class="dash-category">
          <div class="item-name">Home</div>
        </div>
      </a>
      <a class="item" routerLinkActive="active" style="text-decoration: none;" routerLink="exams">
        <img class="icons" src="../../../../assets/icons/batch-icon.png" alt="course">
        <div class="dash-category">
          <div class="item-name">Exams</div>
        </div>
      </a>
      <a class="item" routerLinkActive="active" style="text-decoration: none;" routerLink="assignments">
        <img class="icons" src="../../../../assets/icons/teacher-icon.png" alt="course">
        <div class="dash-category">
          <div class="item-name">Assignment</div>
        </div>
      </a>
      <a class="item" routerLinkActive="active" style="text-decoration: none;" routerLink="report">
        <img class="icons" src="../../../../assets/icons/student-icon.png" alt="course">
        <div class="dash-category">
          <div class="item-name">Report</div>
        </div>
      </a>
    </div>
  </div>
</div>
<router-outlet></router-outlet>
