.container{
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 100%;
  background-image: url(../../../../assets//images/login-bg.jpg);
  background-position: center;
  min-width: 100vw;
  min-height: 100vh;
}
.login-box{
  display: flex;
  flex-direction: column;
  min-width: 30dvw;
  min-height: 20dvw;
  background-color: rgb(37,40,73,0.8);
  border-radius: 8px;
  justify-content: center;
  align-items: center;
}
.logo{
  width: 20dvw;
  margin-top: 20px;
  margin-bottom: 30px;
}
.input-box{
  display: flex;
  min-width: 24dvw;
  height: 2dvw;
  background-color: black;
  justify-content: space-between;
  margin-bottom: 1.5dvw;
  padding: 6px;
  padding-inline: 12px;
  border-radius: 6px;
}
form{
  display: flex;
  flex-direction: column;
}
input{
  background-color: transparent;
  border: 0;
}
.input-icon{
  width: 2dvw;
  color: white;
  opacity: 0.5;
}
.check-box-container{
  display:flex;
  gap: 20px;
  padding-left: 8px;
  opacity: 0.8;
}
.check-box{
  display: flex;
  border-color: white;
  border-width: 2px;
  border-style: solid;
  width: 18px;
  height: 18px;
  justify-content: center;
  align-items: center;
}
.check {
  height: 6px;
  width: 3px;
  border-bottom: 3px solid rgb(255, 255, 255);
  border-right: 3px solid rgb(255, 255, 255);
  transform: rotate(45deg);
  margin: 5px;
}
button{
  background-color: rgba(44,117,255,255);
  color: white;
  width: 20dvw;
  height: 3dvw;
  align-self: center;
  justify-self: center;
  border: 0;
  margin-block: 21px;
  border-radius: 3px;
  box-shadow: 0.5px 0.5px 2px -2px;
}
