<div class="container">
  <div class="login-box">
      <img class="logo" src="../../../../assets/images/logo.png" alt="logo">
      <form class="login-form" [formGroup]="loginForm" style="gap: 4px;" (ngSubmit)="login();">
        <mat-form-field class="custom-input-field" appearance="outline">
          <input matInput placeholder="Email" style="color: rgb(255, 255, 255,0.6);" formControlName="email">
          <span matSuffix style="margin-right: 5px;">
            <mat-icon>person</mat-icon>
          </span>
        </mat-form-field>
        <mat-form-field class="custom-input-field" appearance="outline">
          <input matInput placeholder="Password" style="color: rgb(255, 255, 255,0.6);" formControlName="password" [type]="hide ? 'password' : 'text'" class="password-input">
          <span matSuffix (click)="togglePasswordVisibility()" style="margin-right: 5px;">
            <mat-icon>{{ hide ? 'visibility_off' : 'visibility' }}</mat-icon>
          </span>
        </mat-form-field>
        <mat-checkbox class="example-margin" [disabled]="true">Disabled</mat-checkbox>
        <button type="submit">
          Login
        </button>
      </form>
  </div>
</div>
