<!-- <app-header-comp [heading]="'Exams'"></app-header-comp>
<div *ngIf="toggleShow">
    <app-data-entry [title]="'Assignments'"></app-data-entry>
</div> -->
<div class="container-fluid" style="background-color: #ecf4fc; min-height: 100%; overflow-x:hidden;">
<div class="row" style="padding-top: 40px; padding-left: 90px;">
    <div class="col-md-12" style="color: rgb(85, 80, 80); display: flex; align-items: center; font-size:larger">
      Assignment
      <span class="material-symbols-outlined" style="margin-top: 2px; margin-left: 5px">
        chevron_right
      </span>
    </div>
  </div>
  <div class="container" style="background-color: white; margin-top: 60px; padding-top: 20px;">
    <app-header-comp [heading]="'Assignments'" [toggle]="toggleShow" (toggleChange)="updateToggle($event)"></app-header-comp>
    <div *ngIf="toggleShow">
        <app-data-entry (showTable)="toggleTable()" [title]="'Assignment'"></app-data-entry>
        <br><br>
        <app-table [visible]="tableVisible"></app-table>
    </div>    
</div>
    
</div>

