 <mat-grid-list cols="4" rowHeight="100px" style="background-color: #ecf4fc;">
        <mat-grid-tile><mat-form-field>
          <mat-select placeholder="Batch Code:Batch Name" [(ngModel)]="selectedBatch" (ngModelChange)="onBatchChange()">
            <mat-option value="1">Batch A</mat-option>
            <mat-option value="2">Batch B</mat-option>
            <mat-option value="3">Batch C</mat-option>
          </mat-select>
        </mat-form-field></mat-grid-tile>
        <mat-grid-tile><mat-form-field class="example-full-width">
          <mat-label>Batch Start Date</mat-label>
          <input matInput [disabled]="!isBatchSelected" [(ngModel)]="selectedDate" (ngModelChange)="onDateChange()">
        </mat-form-field></mat-grid-tile>
        <mat-grid-tile><mat-form-field>
          <mat-select placeholder="Program Code:Program Name" [disabled]="!isBatchSelected || !isDateSelected" [(ngModel)]="selectedProgram" (ngModelChange)="onProgramChange()">
            <mat-option value="1">Program A</mat-option>
            <mat-option value="2">Program B</mat-option>
            <mat-option value="3">Program C</mat-option>
          </mat-select>
        </mat-form-field></mat-grid-tile>
        <mat-grid-tile><mat-form-field>
          <mat-select placeholder="Course Code:Course Name" [disabled]="!isBatchSelected || !isDateSelected || !isProgramSelected" [(ngModel)]="selectedCourse" (ngModelChange)="onCourseChange()">
            <mat-option value="1">Course A</mat-option>
            <mat-option value="2">Course B</mat-option>
            <mat-option value="3">Course C</mat-option>
          </mat-select>
        </mat-form-field></mat-grid-tile>
        
      </mat-grid-list>

      <mat-grid-list cols="4" rowHeight="100px" >
        
        <mat-grid-tile>
          <mat-form-field style="margin-left: -80px;">
            <mat-label>Choose a date</mat-label>
            <input matInput [matDatepicker]="picker" [disabled]="!isBatchSelected || !isDateSelected || !isProgramSelected || !isCourseSelected" [(ngModel)]="selectedAttendance" (ngModelChange)="onAttendanceChange()">
            <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker #picker startView="year" [startAt]="startDate" [disabled]="!isBatchSelected"></mat-datepicker>
          </mat-form-field>
        </mat-grid-tile>
        <mat-grid-tile>
        </mat-grid-tile>
        <mat-grid-tile> 
        </mat-grid-tile>
        <mat-grid-tile>
          <button  mat-stroked-button style="display: flex; justify-content: flex-end;margin-left:190px" [disabled]="!isBatchSelected || !isDateSelected || !isProgramSelected || !isCourseSelected || !isAttendanceSelected" (click)="showAttendanceDetails()">Add Topic</button>
        </mat-grid-tile>
      </mat-grid-list>

      <div *ngIf="showAttendanceDetailsCondition">
        <app-attendance-details></app-attendance-details>
      </div>

      <div *ngIf="showAttendanceDetailsCondition">
        <app-student-attendance></app-student-attendance>
      </div>