<table class="table">
    <thead>
      <tr>
        <th scope="col">Student Name</th>
        <th scope="col">Attendance</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>All Students</td>
        <td><input class="form-check-input" type="checkbox" value="" id="defaultCheck1"></td>
      </tr>
      
      <tr>
        <td>Marie</td>
        <td><input class="form-check-input" type="checkbox" value="" id="defaultCheck1"></td>
      </tr>

      <tr>
        <td>Jacob</td>
        <td><input class="form-check-input" type="checkbox" value="" id="defaultCheck1"></td>
      </tr>
    </tbody>
  </table>
