<mat-grid-list cols="4" rowHeight="100px" style="background-color: #ecf4fc;">
  <mat-grid-tile><mat-form-field>
    <mat-select placeholder="Batch Code:Batch Name" [(ngModel)]="selectedBatch" (ngModelChange)="onBatchChange()">
      <mat-option *ngFor="let batch of batchNames" [value]="batch">{{ batch }}</mat-option>
    </mat-select>
  </mat-form-field></mat-grid-tile>
  <mat-grid-tile><mat-form-field class="example-full-width">
    <mat-label>Batch Start Date</mat-label>
    <input matInput [(ngModel)]="selectedDate" (ngModelChange)="onDateChange()" [disabled]="!isBatchSelected">
  </mat-form-field></mat-grid-tile>
  <mat-grid-tile><mat-form-field>
    <mat-select placeholder="Program Code:Program Name" [(ngModel)]="selectedProgram" (ngModelChange)="onProgramChange()" [disabled]="!isBatchSelected || !isDateSelected">
      <mat-option *ngFor="let program of programs" [value]="program">{{program}}</mat-option>
    </mat-select>
  </mat-form-field></mat-grid-tile>
  <mat-grid-tile></mat-grid-tile>
</mat-grid-list>

<div *ngIf="selectedProgram">
  <app-batch-details></app-batch-details>
</div>

  
