<table class="table table-striped table-hover" *ngIf="visible">
  <thead>
    <tr>
      <th style="padding-left: 100px" class="student-header">Student</th>
      <th class="marks-header">Marks</th>
      <th
        class="action-header"
        colspan="2"
        style="padding-right: 50px; text-align: right"
      >
      <div class="container row" style="display: flex; justify-content:space-between;">
        <div class="col-md-7"></div>
        <div class="col-md-2">
        <button type="button" class="btn btn-light cancel-btn" style="color: rgb(48, 95, 214)">
          Cancel
        </button></div>
        <div class="col-md-3"><button type="button" class="btn btn-light">Save & close</button></div></div>
      </th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let record of studentMarks">
      <td style="padding-left: 100px" class="student-column">
        {{ record.student }}
      </td>
      <td class="marks-column">
        <div class="marks-container">
          <div class="marks-input">
            <input type="text" style="width: 75px" [(ngModel)]="record.marks" />
          </div>
        </div>
      </td>
      <td class="action-column"></td>
      <td class="action-column"></td>
    </tr>
  </tbody>
</table>
