<table class="table table-striped table-hover">
  <thead>
    <tr>
      <th style="padding-left: 150px">Student</th>
      <th>Marks</th>
      <div>
        <th style="color: blue">cancel</th>
        <th>
          <button type="button" class="btn btn-light">Create exam</button>
        </th>
      </div>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let record of studentMarks">
      <div>
        <td style="padding-left: 150px">{{ record.student }}</td>
      </div>
      <td>{{ record.marks }}</td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
  </tbody>
</table>
