<div class="container-fluid">
    <table>
        <tr>
            <th scope="col">Actions</th>
            <th scope="col">Exam name</th>
            <th scope="col">Total Marks</th>
            <th scope="col">Date</th>
            <th scope="col">Time</th>
            <th scope="col">Files</th>
        </tr>
        <br>
            <tr>
                <td>
                    <button type="submit" name="tick" class="btn">
                        <i class="fa-solid fa-check"></i> </button>
                                 <button type="button" name="cross" class="btn">
                                 <i class="fa-solid fa-xmark"></i> </button>
                </td>
    </table>
</div>